@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { transform: rotate(360deg); } }

#nav:hover span {
  display: inline-block;
  /*transform: rotate(90deg);    rotateY*/
  /*cursor: pointer;*/
  color: red;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#nav span {
  color: green;
}

a {
  /*text-decoration: none;*/
  /*text-transform: uppercase;*/
  /*color: #FF3434;*/
  /*font-weight: bold;
  font-size: 14px;*/
  position: relative;
  display: inline-block;
  z-index: 1;
  /*padding: 5px;
  left: -5px;*/
  width: 100%; 
}
/*a:hover {
  color: #FF3434;
}*/
a::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;        /*calc(50%);*/
  left: 0;
  width: 100%;
  height: 100%;    /*40%;*/
  /*pointer-events: none;*/
  background: #00ffff;    /* #80EDFF;*/
  transform: scale3d(0, 1, 1);
  transform-origin: 0% 50%;
  transition: transform 0.5s;  /*1s 0.33s;*/
}
a:hover::before {
  transform: scale3d(1, 1, 1);
  transform-origin: 0% 50%;
}
a::before .fit {
 transition: transform 0; 
}




