article {
  background: #fff;
  color: #000;
  padding: 1em;
}

article a {
  display: inline;
}

article h1 a, article h2 a, article h3 a, article li a {
  display: block;
  width: 100%;
  padding-left: 1em;
}

article a {
  color: #329632;
}
/*article a:hover {
  background-color: #329632;
  color: #fff;
}*/

article ul {
  list-style-image: none;
  list-style-position: inside;
}





