.pozi {
  font-size: 0.8em;
  font-family: "DejaVu Sans Mono", Inconsolata, monospace;
  width: 98%;
}
.copykod {
  width: 100%;
  border-radius: 0.5em;
}
section input, button {
  width: 99%;
  font-size: 1.2em;
}
button[type="submit"], button[type="reset"] {
  width: 49%;
}
button[type="submit"] {
  border-bottom-left-radius: 1em;
}
button[type="reset"] {
  border-bottom-right-radius: 1em;
}
input[type="checkbox"] {
  width: auto;
  transform: scale(4);
  -moz-transform: scale(4); 
  -webkit-transform: scale(4); 
  -o-transform: scale(4);
  -ms-transform: scale(4);
  margin: 1.2em 1.2em 1.2em 0.6em;
}
input[type="checkbox"], label, button {
  transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
}
input[type="checkbox"]:hover, label:hover, button:hover {
  background-color: #329632;
  color: #fff;
  cursor: pointer;
}
#text {
  width: 100%;
  font-size: 1.3em;
}
label {
  text-align: right;
}
#ne0 {
  padding: 0.5em;
}
