body {
  background: #001D00;
  color: #fff;
}
nav {
  background: var(--color-nav-bgrd);
  color: var(--color-body-bgrd);
}
aside {
  background: var(--color-aside-bgrd);
  color: var(--color-body-bgrd);
}

#konti {
  opacity: 0.8;
}
  img {
  width: 100%;
}

