article
  background: var(--color-body-bgrd, #FFF)
  color: var(--color-body-text, #000)
  padding: 1em

  a
    display: inline

  h1 a, h2 a, h3 a, li a
    display: block
    width: 100%
    padding-left: 1em

  a
    color: #329632

  ul
    list-style-image: none
    list-style-position: inside
