header
  text-align: center
  background: #49662d
  color: #fff
  padding-top: 2em
  padding-bottom: 2em

  a
    color: #432559
    
    &:hover
      background: #432559
      color: #49662d

header a:hover span
  background:#49662d
  color:  #432559

  h1 a
    display: block
    width: 100%